<div class="sidebar">
  <div class="sidebar__avatar"></div>
  <div class="sidebar__label text-center">
    <small>{{typeUser == 0 ? 'Cliente' : 'Reciclador'}}</small>
  </div>
  <ul class="sidebar__nav">
    <div *ngIf="typeUser == 0">
      <a [ngClass]="{'active': isActive('/materials')}" [routerLink]="['/materials']">Materiales</a>
    </div>
    <div>
      <a [ngClass]="{'active': isActive('/sales')}" [routerLink]="['/sales']">Ofertas</a>
    </div>
    <div *ngIf="typeUser == 1">
      <a [ngClass]="{'active': isActive('/history')}" [routerLink]="['/history']">Historial</a>
    </div>
    <div (click)="isVisibleModal = true">
      <a>Salir</a>
    </div>
  </ul>
</div>

<nz-modal class="modal" [(nzVisible)]="isVisibleModal" [nzFooter]="null" (nzOnCancel)="isVisibleModal = false">
  <div class="modal-title">
    <h4 class="text-center" style="margin:0">Salir</h4>
  </div>
  <div class="modal-content">
    <div class="text-center" style="margin:20px">
      ¿Deseas cerrar sesión?
    </div>
    <div class="text-center">
      <button nz-button [nzType]="'primary'" type="button" (click)="logout()">
        <span>Aceptar</span>
      </button>
    </div>
  </div>
</nz-modal>
