@import "../../../../../assets/styles/1-settings/colors.scss";
.sidebar{
	text-align: center;
    padding-top: 25px;
    position: sticky;
    top: 0;
    height: 100vh;

	&__avatar{
		background-color: #fff;
        border-radius: 50%;
        height: 100px;
        margin: 0 auto;
        width: 100px;
        overflow: hidden;
        position: relative;
    }

    &__label{
        margin: 0 0 30px 0;
        color: white;
    }

	&__nav{
        a{
            color: white;
            width: 90%;
            height: 40px;
            padding: 0 12px;
            display: flex;
            align-items: center;
            margin: auto;
            &.active{
                color: $color-accent;
                border-radius: 3px;
                background-color: #eefdf1;
            }
            &:hover{
                border-radius: 3px;
                background-color: #eefdf1;
                color: inherit;
            }
        }
    }
}

@media screen and (max-width: 520px){
	.sidebar{
		width: 90%;
        margin: auto;
        float: unset;
        height: auto;
        padding: 0;

		&__avatar, &__label{
			display: none;
		}

		&__nav{
            li{
                padding: 8px;
                display: inline-block;
            }
        }
	}
}