<section>
  <div class="flex-row-layout jc-space-between">
    <h2 class="subtitle"><strong>Ofertas</strong></h2>
    <div>
      <button nz-button [nzType]="'default'" *ngIf="typeUser == 0" [routerLink]="['/sales/new']">Nueva</button>
    </div>
  </div>
  <div>
    <sale-table></sale-table>
  </div>
</section>
