.login-view{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    &__content{
        width: 300px;
        padding: 28px 0;
        h1{
            font-size: 1.25rem;
            margin-bottom: 32px;
            margin-top: 16px;
        }
    }
    &__image{
        background-image: url('../../../../assets/images/hero.jpg');
        background-position: center;
        width: 510px;
        height: 360px;
        background-size: cover;
    }
}

@media screen and (max-width: 520px){
    .login-view{
        height: auto;
        display: block;
        padding: inherit;
        margin-top: 20%;

        &__content{
            max-width: 90%;
            margin: 20px auto;
            text-align: center;
            h1{
                font-size: 30px;
                line-height: inherit;
            }
        }
        &__image{
            width: 100%;
            height: 260px;
        }
    }

}