<section class="login-view">
    <div class="login-view__content">
        <h1 class="text-center">Bienvenidx de nuevo</h1>
        <login-form></login-form>
    </div>
    <div class="login-view__image"></div>
</section>