<h2 class="subtitle"><strong>Historial</strong></h2>
<div>
  <nz-table #saleTable nzSize="middle" [nzData]="sales" [nzLoading]="loading">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Método</th>
        <th>S/. total</th>
        <th>Oferta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of saleTable.data">
        <td>{{data.date_register | date:'mediumDate'}}</td>
        <td>
          <span *ngIf="data.sold_or_given == '0'">Regalo</span>
          <span *ngIf="data.sold_or_given != '0'">Venta</span>
        </td>
        <td>{{data.total_amount}}</td>
        <td>
          <button nzSize="small" nz-button nzTrigger="click" (click)="showDetail(data.register_id)">
            <span>Ver detalle</span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalle" [nzFooter]="null" (nzOnCancel)="hideModal()">
  <div>
    <nz-table #materialTable nzSize="middle" [nzData]="materials">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Kg</th>
          <th>Precio por Kg</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of materialTable.data">
          <td>{{data.material_name}}</td>
          <td>{{data.weight}}</td>
          <td>{{data.price_kg}}</td>
          <td>{{data.total_product}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>
