<form nz-form [nzLayout]="'vertical'" [formGroup]="materialFG" (ngSubmit)="onSubmit()">
  <nz-form-item style="flex-grow: 7">
    <nz-form-label>Material</nz-form-label>
    <nz-form-control nzErrorTip="Please select type!">
      <nz-select nzShowSearch nzAllowClear formControlName="material_id">
        <nz-option nzLabel="Selecciona" nzValue=""></nz-option>
        <nz-option *ngFor="let opt of categories" [nzLabel]="opt.name" [nzValue]="opt.material_id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div class="flex-row-layout jc-space-between">
    <nz-form-item class="flex-40">
      <nz-form-label>Peso</nz-form-label>
      <nz-form-control nzErrorTip="Please input material name">
        <input nz-input formControlName="weight" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="flex-40">
      <nz-form-label>Precio</nz-form-label>
      <nz-form-control nzErrorTip="Please input material name">
        <input nz-input formControlName="price_kg" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-control class="text-right">
      <button type="button" nz-button [nzType]="'default'" (click)="cancelRequest()"
        class="margin-right">Cancelar</button>
      <button type="submit" nz-button [nzType]="'primary'">
        <loading *ngIf="loading"></loading>
        <span *ngIf="method == 'create' && !loading">Nueva material</span>
        <span *ngIf="method == 'update' && !loading">Editar material</span>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
