<form nz-form [nzLayout]="'vertical'" [formGroup]="saleFG" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label>Tipo</nz-form-label>
    <nz-radio-group formControlName="sold_or_given" nzName="radiogroup">
      <label nz-radio nzValue="0">Venta</label>
      <label nz-radio nzValue="1">Regalo</label>
    </nz-radio-group>
  </nz-form-item>
  <div formArrayName="materials" *ngFor="let control of saleFG.controls['materials']['controls'] ; let i = index">
    <div [formGroupName]="i" class="row-material">
      <div class="flex-row-layout ai-flex-end">
        <nz-form-item style="width:20%">
          <nz-form-label>Material</nz-form-label>
          <nz-form-control nzErrorTip="Please select video!">
            <nz-select nzShowSearch nzAllowClear formControlName="product_id">
              <nz-option *ngFor="let item of materials" [nzLabel]="item.material_name" [nzValue]="item.product_id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="width:100px">
          <nz-form-label>Kilos</nz-form-label>
          <nz-form-control nzErrorTip="Please input material name">
            <nz-input-number formControlName="weight" [nzMin]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div class="text-right">
            <button type="button" nz-button [nzType]="'default'" (click)="removeField(i, $event)">X</button>
          </div>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
      <i nz-icon nzType="plus"></i>Añadir material
    </button>
  </div>
  <nz-form-item>
    <nz-form-control class="text-right">
      <button type="button" nz-button [nzType]="'default'" (click)="cancelRequest()"
        class="margin-right">Cancelar</button>
      <button type="submit" nz-button [nzType]="'primary'">
        <loading *ngIf="loading"></loading>
        <span *ngIf="method == 'create' && !loading">Nueva oferta</span>
        <span *ngIf="method == 'update' && !loading">Editar oferta</span>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
