$sidebar-width: 200px;
.main-section{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &__sidebar{
        width: $sidebar-width;
        background-color: #40954F;
    }

    &__content{
		padding: 20px 30px;
        width: calc(100% - #{$sidebar-width});
    }
}

@media screen and (max-width: 520px){
	.main-section{
		flex-direction: column;

		&__sidebar{
			width: 100%;
			background-color: #F7F7F7;
			padding-top: 10px;
		}

		&__content{
			width: 100%;
			padding-top: 10px;
		}
	}
}