$global-color: #676a6c;
$backdrop-color: #f7f7f7;

$color-primary: #231f20;
$color-primary-lighter: #BCBDC0;
$color-primary-darker: #57585A;

$color-accent: #40954F;
$color-accent-lighter: lighten($color-accent,35%);

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);