$avenir-book: 'Avenir Book';
$avenir-medium: 'Avenir Medium';
$avenir-heavy: 'Avenir Heavy';
$rubik: 'Rubik';
$rubik-bold: 'Rubik Bold';

$font-primary: $rubik, sans-serif;
$font-bold: $rubik-bold;