<div>
  <div>
    <nz-table #saleTable nzSize="middle" [nzData]="sales" [nzLoading]="loading">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Método</th>
          <th>S/. total</th>
          <th>Oferta</th>
          <th *ngIf="typeUser == 1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of saleTable.data">
          <td>{{data.date_register | date:'mediumDate'}}</td>
          <td>
            <span *ngIf="data.sold_or_given == '0'">Regalo</span>
            <span *ngIf="data.sold_or_given != '0'">Venta</span>
          </td>
          <td>{{data.total_amount}}</td>
          <td>
            <button nzSize="small" nz-button nzTrigger="click" (click)="showDetail(data.register_id)">
              <span>Ver detalle</span>
            </button>
          </td>
          <td *ngIf="typeUser == 1">
            <button nzSize="small" nz-button [nzType]="'primary'" (click)="showBuyModal(data.register_id)">
              <span>Comprar</span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalle" [nzFooter]="null" (nzOnCancel)="hideModal()">
  <div>
    <nz-table #materialTable nzSize="middle" [nzData]="materials">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Kg</th>
          <th>Precio por Kg</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of materialTable.data">
          <td>{{data.material_name}}</td>
          <td>{{data.weight}}</td>
          <td>{{data.price_kg}}</td>
          <td>{{data.total_product}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>

<nz-modal class="modal" [(nzVisible)]="buyVisible" [nzFooter]="null" (nzOnCancel)="hideBuyModal()">
  <div class="modal-title">
    <h4 class="text-center" style="margin:0">Confirmación</h4>
  </div>
  <div class="modal-content">
    <div class="text-center" style="margin:20px">
      ¿Desea registrar la compra? De ser así un mensaje de confirmación le llegará al cliente.
    </div>
    <div class="text-center">
      <button nz-button [nzType]="'primary'" type="button" (click)="buyThings()">
        <span>¡Aceptar!</span>
      </button>
    </div>
  </div>
</nz-modal>
