@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik Bold';
    src: url('/assets/fonts/Rubik-Bold.ttf') format('truetype')
}